@model AIOCMS.Models.tbl_Icerik

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Yonetim/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_Icerik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OlusturmaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OlusturmaTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuncellemeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuncellemeTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SilinmeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SilinmeTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AktifDurumu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AktifDurumu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnayDurumu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnayDurumu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IcerikTipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IcerikTipi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OkunmaSuresi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OkunmaSuresi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OkunmaSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OkunmaSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Icerik2.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Icerik2.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Kullanici.KullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Kullanici.KullaniciAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
