@model AIOCMS.Models.tbl_Icerik

<h2> <a class="btn btn-default" href="@Html.YonetimUrl("Icerik")"><i class="glyphicon glyphicon-chevron-left"></i></a> İçerik Detay</h2>


<div>
    <hr />
    <div>
        <div class="row">
            <label class="col-md-12">Baslik : </label>
            <div class="col-md-12">@Model.Baslik</div>
        </div>
        <hr />
        <div class="row">
            <label class="col-md-12">Icerik : </label>
            <div class="col-md-12">@Model.Icerik</div>
        </div>
        <hr />
        <div class="row">
            <label class="col-md-12">Url : </label>
            <div class="col-md-12">@Model.Url</div>
        </div>
        <hr />
        <div class="row">
            <label class="col-md-12">Resim : </label>
            <div class="col-md-12">@Model.Resim</div>
        </div>
        <hr />
        <div class="row">
            <label class="col-md-12">Oluşturulma Tarihi : </label>
            <div class="col-md-12">@Model.OlusturmaTarihi</div>
        </div>
        @if (Model.GuncellemeTarihi != null)
        {
            <hr />
            <div class="row">
                <label class="col-md-12">Son Güncellenme Tarihi : </label>
                <div class="col-md-12">@Model.GuncellemeTarihi</div>
            </div>
        }
        @if (Model.SilinmeTarihi != null)
        {
            <hr />
            <div class="row">
                <label class="col-md-12">Silinme Tarihi : </label>
                <div class="col-md-12">@Model.SilinmeTarihi</div>
            </div>
        }
        <hr />
        <div class="row">
            <label class="col-md-12">Aktiflik Durumu : </label>
            <div class="col-md-12">@Model.AktifDurumu</div>
        </div>
        <hr />
        <div class="row">
            <label class="col-md-12">Onay Durumu : </label>
            <div class="col-md-12">@Model.OnayDurumu</div>
        </div>
        <hr />
        <div class="row">
            <label class="col-md-12">Icerik Tipi : </label>
            <div class="col-md-12">@Model.IcerikTipi</div>
        </div>
        <hr />
        <div class="row">
            <label class="col-md-12">Okunma Suresi : </label>
            <div class="col-md-12">@Model.OkunmaSuresi</div>
        </div>
        <hr />
        <div class="row">
            <label class="col-md-12">Okunma Sayisi : </label>
            <div class="col-md-12">@Model.OkunmaSayisi</div>
        </div>
        <hr />
        <div class="row">
            <label class="col-md-12">Kullanıcı Adı : </label>
            <div class="col-md-12">@Model.tbl_Kullanici.KullaniciAdi</div>
        </div>
        @if (Model.tbl_Icerik2?.Baslik != null)
        {
            <hr />
            <div class="row">
                <label class="col-md-12">Üst İçerik Başlığı : </label>
                <div class="col-md-12">@Model.tbl_Icerik2.Baslik</div>
            </div>
        }
        <hr /><br />
    </div>
</div>

<p>
    @if (AIOCMS.Areas.Yonetim.Data.KullaniciBilgi.YetkiliMi(AIOCMS.Areas.Yonetim.Data.enmYetkiler.Duzenleme, RouteTable.Routes.GetRouteData(new HttpContextWrapper(HttpContext.Current))))
    {
        <a class="btn btn-primary" href="@Html.YonetimUrl("Icerik/Edit/"+Model.Id)"><i class="glyphicon glyphicon-edit"></i> Düzenle</a>
    }
</p>
