@model AIOCMS.Models.tbl_Tags

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_Tags</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OlusturmaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OlusturmaTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuncellemeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuncellemeTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SilinmeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SilinmeTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AktifDurumu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AktifDurumu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
