@model AIOCMS.Models.tbl_Tags


<h2> <a class="btn btn-default" href="@Html.YonetimUrl("Tags")"><i class="glyphicon glyphicon-chevron-left"></i></a> Tag Detay</h2>


<div>
    <hr />
    <div>
        <div class="row">
            <label class="col-md-12">Adı : </label>
            <div class="col-md-12">@Model.Adi</div>
        </div>
        <hr />
        <div class="row">
            <label class="col-md-12">Oluşturulma Tarihi : </label>
            <div class="col-md-12">@Model.OlusturmaTarihi</div>
        </div>
        @if (Model.GuncellemeTarihi != null)
        {
            <hr />
            <div class="row">
                <label class="col-md-12">Son Güncellenme Tarihi : </label>
                <div class="col-md-12">@Model.GuncellemeTarihi</div>
            </div>
        }
        @if (Model.SilinmeTarihi != null)
        {
            <hr />
            <div class="row">
                <label class="col-md-12">Silinme Tarihi : </label>
                <div class="col-md-12">@Model.SilinmeTarihi</div>
            </div>
        }


        <hr />
        <div class="row">
            <label class="col-md-12">Aktiflik Durumu : </label>
            <div class="col-md-12">@Html.DisplayFor(model => model.AktifDurumu)</div>
        </div>

        <hr />
        <div class="row">
            <label class="col-md-12">Seo Url : </label>
            <div class="col-md-12">@Model.Url</div>
        </div>
        <hr /><br />

    </div>
</div>
<p>
    @if (AIOCMS.Areas.Yonetim.Data.KullaniciBilgi.YetkiliMi(AIOCMS.Areas.Yonetim.Data.enmYetkiler.Duzenleme, RouteTable.Routes.GetRouteData(new HttpContextWrapper(HttpContext.Current))))
    {
        <a class="btn btn-primary" href="Tags/Edit/@Model.Id"><i class="glyphicon glyphicon-edit"></i> Düzenle</a>
    }
</p>
