@model IEnumerable<AIOCMS.Models.tbl_Tags>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Tag", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OlusturmaTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuncellemeTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SilinmeTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AktifDurumu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>Seçenekler</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Adi
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OlusturmaTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuncellemeTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SilinmeTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AktifDurumu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @if (AIOCMS.Areas.Yonetim.Data.KullaniciBilgi.YetkiliMi(AIOCMS.Areas.Yonetim.Data.enmYetkiler.Duzenleme, RouteTable.Routes.GetRouteData(new HttpContextWrapper(HttpContext.Current))))
                {
                    <a href="Yonetim/Yorum/Edit/@item.Id">Düzenle</a>
                }
                |
                @if (AIOCMS.Areas.Yonetim.Data.KullaniciBilgi.YetkiliMi(AIOCMS.Areas.Yonetim.Data.enmYetkiler.Detay, RouteTable.Routes.GetRouteData(new HttpContextWrapper(HttpContext.Current))))
                {
                    @Html.ActionLink("Detay", "Details", new { id = item.Id })
                }
                @if (AIOCMS.Areas.Yonetim.Data.KullaniciBilgi.YetkiliMi(AIOCMS.Areas.Yonetim.Data.enmYetkiler.Silme, RouteTable.Routes.GetRouteData(new HttpContextWrapper(HttpContext.Current))))
                {
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                }
                @if (AIOCMS.Areas.Yonetim.Data.KullaniciBilgi.YetkiliMi(AIOCMS.Areas.Yonetim.Data.enmYetkiler.KaliciSilme, RouteTable.Routes.GetRouteData(new HttpContextWrapper(HttpContext.Current))))
                {
                    <a data-id="@item.Id" onclick="kaliciSil($(this));">Kalıcı Sil</a>
                }
            </td>
        </tr>
    }

</table>

<script>
    function kaliciSil(that) {
        swal({
            title: "Silmek İstediğinize Eminmisiniz",
            text: "Bu İşlemin Gerişi Dönüşü Mümkün Değil",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((status) => {
                if (status) {
                    var data = "id=" + $(that).attr("data-id");
                    ajaxSpeak("../Tags/KaliciSil", data, "", function (cevap) {
                        console.log("İşimi Bitirdim");
                    });
                }
            });
    }
</script>