@model AIOCMS.Models.tbl_Yorum

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_Yorum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdiSoyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdiSoyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yorum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yorum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OlusturmaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OlusturmaTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuncellemeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuncellemeTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SilinmeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SilinmeTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AktifDurumu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AktifDurumu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BegeniSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BegeniSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BegenmemeSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BegenmemeSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Icerik.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Icerik.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Yorum2.AdiSoyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Yorum2.AdiSoyadi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
