@model AIOCMS.Models.tbl_Yorum

<h2> <a class="btn btn-default" href="@Html.YonetimUrl("Yorum")"><i class="glyphicon glyphicon-chevron-left"></i></a> Yorum Detay</h2>


<div>
    <hr />
    <div>
        <div class="row">
            <label class="col-md-12">Adı Soyadı : </label>
            <div class="col-md-12">@Model.AdiSoyadi</div>
        </div>
        <hr />
        <div class="row">
            <label class="col-md-12">Yorum : </label>
            <div class="col-md-12">@Model.Yorum</div>
        </div>
        <hr />
        <div class="row">
            <label class="col-md-12">Puan : </label>
            <div class="col-md-12">@Model.Puan</div>
        </div>
        <hr />
        <div class="row">
            <label class="col-md-12">Oluşturulma Tarihi : </label>
            <div class="col-md-12">@Model.OlusturmaTarihi</div>
        </div>
        @if (Model.GuncellemeTarihi != null)
        {
            <hr />
            <div class="row">
                <label class="col-md-12">Son Güncellenme Tarihi : </label>
                <div class="col-md-12">@Model.GuncellemeTarihi</div>
            </div>
        }
        @if (Model.SilinmeTarihi != null)
        {
            <hr />
            <div class="row">
                <label class="col-md-12">Silinme Tarihi : </label>
                <div class="col-md-12">@Model.SilinmeTarihi</div>
            </div>
        }
        <hr />
        <div class="row">
            <label class="col-md-12">Aktiflik Durumu : </label>
            <div class="col-md-12">@Html.DisplayFor(model => model.AktifDurumu)</div>
        </div>
        <hr />
        <div class="row">
            <label class="col-md-12">Beğeni Sayisi : </label>
            <div class="col-md-12">@Model.BegeniSayisi</div>
        </div>
        <hr />
        <div class="row">
            <label class="col-md-12">Beğenmeme Sayisi : </label>
            <div class="col-md-12">@Model.BegenmemeSayisi</div>
        </div>
        <hr />
        <div class="row">
            <label class="col-md-12">İçerik Başliğı : </label>
            <div class="col-md-12">@Model.tbl_Icerik.Baslik</div>
        </div>
        @if (Model.tbl_Yorum2?.AdiSoyadi != null)
        {
            <hr />
            <div class="row">
                <label class="col-md-12">Üst Yorum Adı Soyadı : </label>
                <div class="col-md-12">@Model.tbl_Yorum2.AdiSoyadi</div>
            </div>
        }
        <hr /><br />
    </div>
</div>

