@model IEnumerable<AIOCMS.Models.tbl_Yorum>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdiSoyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yorum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OlusturmaTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuncellemeTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SilinmeTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AktifDurumu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BegeniSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BegenmemeSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Icerik.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Yorum2.AdiSoyadi)
        </th>
        <th>Seçenekler</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdiSoyadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yorum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OlusturmaTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuncellemeTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SilinmeTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AktifDurumu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BegeniSayisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BegenmemeSayisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_Icerik.Baslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_Yorum2.AdiSoyadi)
            </td>
            <td>
                @if (AIOCMS.Areas.Yonetim.Data.KullaniciBilgi.YetkiliMi(AIOCMS.Areas.Yonetim.Data.enmYetkiler.Detay, RouteTable.Routes.GetRouteData(new HttpContextWrapper(HttpContext.Current))))
                {
                    @Html.ActionLink("Detay", "Details", new { id = item.Id })
                }
                |
                @if (AIOCMS.Areas.Yonetim.Data.KullaniciBilgi.YetkiliMi(AIOCMS.Areas.Yonetim.Data.enmYetkiler.Silme, RouteTable.Routes.GetRouteData(new HttpContextWrapper(HttpContext.Current))))
                {
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                }
                |
                @if (AIOCMS.Areas.Yonetim.Data.KullaniciBilgi.YetkiliMi(AIOCMS.Areas.Yonetim.Data.enmYetkiler.KaliciSilme, RouteTable.Routes.GetRouteData(new HttpContextWrapper(HttpContext.Current))))
                {
                    <a style="cursor: pointer;" data-id="@item.Id" onclick="kaliciSil($(this));">Kalıcı Sil</a>
                }
                |
                @if (AIOCMS.Areas.Yonetim.Data.KullaniciBilgi.YetkiliMi(AIOCMS.Areas.Yonetim.Data.enmYetkiler.Duzenleme, RouteTable.Routes.GetRouteData(new HttpContextWrapper(HttpContext.Current))))
                {
                    <a style="cursor: pointer;" data-id="@item.Id" onclick="update($(this));">Akfilik</a>
                }

            </td>
        </tr>
    }

</table>


<script>
    function kaliciSil(that) {
        swal({
            title: "Silmek İstediğinize Emin Misiniz",
            text: "Bu İşlemin Gerişi Dönüşü Mümkün Değil",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((status) => {
                if (status) {
                    var data = "id=" + $(that).attr("data-id");
                    ajaxSpeak("../Yorum/KaliciSil", data, "", function (cevap) {
                        console.log("İşimi Bitirdim");
                    });
                }
            });
    }

    function update(res) {
        var data = "id=" + $(res).attr("data-id");        
        ajaxSpeak("../Yorum/Aktiflik", data, "", "");       
        return false;
    }

</script>
